@model IEnumerable<Plaswijzer.Model.GehandToilet>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Situering)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Open7op7)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Openuren)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gratis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type_locat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lat)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Situering)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Open7op7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Openuren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gratis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type_locat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lat)
            </td>
            <td>
                
            </td>
        </tr>
}
    </tbody>
</table>
